/* ---------------------------

Copyright © 2007 - 2017 PHYSLE
All rights reserved.

--------------------------- */


@font-face {
	font-family: 'InfernoFont'; 
	src: url('images/goth.ttf'); 
}

body {
	background-color:#000; 
	color:#fff; 
	font-family: 'Marvel', sans-serif; 
}

#debug {

	position:absolute; 
	left:860px; 
	top:50px; 
	font-size:10px; 

	font-family: monospace;
}

#score {
	position:absolute; 
	left:30px; 
	top:50px; 
	font-size:36px; 
	font-family: 'InfernoFont';
}

#score small {
	font-size:16px; 
	display:block; 
	margin-top:-10px; 
	margin-left:4px;
}

#key {
	position:absolute; 
	left:60px; 
	top:84px; 
	font-size:16px; 
}

#level {
	position:absolute; 
	left:0px; 
	top:50px;
	width:1000px; 
	font-size:24px; 
	font-family: 'InfernoFont';
	text-align:center;
}

#hint {
	font-size:16px; 
	display:block; 
	margin-top:10px; 
	width:1000px; 
	text-align:center;
}

a.button{
	margin: 0px auto;
	color:#FFFFFF;
	display:block;
	background-image:url("images/button1.png");
	width:100px;
	text-decoration:none;
	height:15px;
	font-size:10px;
	font-family:verdana;
	padding-top:1px;
	margin-bottom:14px;
	background-color:#646464;
	text-align:center;
}

a.button:active:not(.inactive) {
	background-image:url("images/button2.png");
	padding-top:2px;
	height:14px;
}

a.inactive {
	cursor:pointer;
	color:#646464;
}

div.option {
	height:30px;
	margin: 0px auto;
	text-align:left;
	width:100px;
}

div.option input {
	color:#000000;
}

/* rgba = red, green, blue, alpha */
#menu {
	margin: 0px auto;
	padding:30px;
	width:160px;
	height:200px;
	background-color:rgba(70, 70, 70, 0.5); 
	border:1px rgba(255, 255, 255, 0.5) solid;
	position:absolute;
	top:160px;
	left:400px;
	text-align:center;
	font-size:10px;
	font-family:verdana;
}

#menu img {
	padding-bottom:20px;
}

#menu-options, #menu-scores {
	display:none;
}
/*
table.scores {
	width:100px;
	margin: 0px auto;
	border-collapse: collapse;
	background-color:rgba(20, 20, 20, 0.5); 
	border:1px solid #777;
}

table.scores th {
	font-weight:normal;
	font-size:8px;
}
table.scores td {
	border-top:1px solid #777;
	font-size:8px;
}
*/
